*{
    margin: 0;
}

body{
    font-family: sans-serif;
    background-image: url("../img/background.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
}

header{
    padding: 1.2em;
    background-color: mediumaquamarine;
    color: white;
}

section{
    background-color: white;
    height: 500px;
    width: 700px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}