<!DOCTYPE html>
{% load static %}
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PharmaDjango</title>
    <link rel="stylesheet" href="{% static 'remedios/css/style.css' %}">
</head>
<body>
    <header>
        <h1>PharmaDjango</h1>
    </header>
    <section>
        {% if remedios %}
            {% for remedio in remedios %}
                <div>
                    <h2>{{ remedio.nome }}</h2>
                    <p>Tarja: {{ remedio.tarja }}</p>
                    <p>Precisa de Receita: {{ remedio.precisa_receita }}</p>	
                    <p class='price'>Preço: R$ {{ remedio.preco }}</p>
                </div>
            {% endfor %}
        {% else %}
            <div>
                <h2>Nenhum remédio encontrado :(</h2>
            </div>
        {% endif %}
    </section>
</body>
</html>